---
layout: post
title: {{ site.name }}
language: "Chinese"
---


<div id="home">  
  <ul class="posts">

    {%- assign today = site.time | date: "%Y-%m-%d"  -%}
    {%- assign chnPosts = site.posts | where_exp: "item", "item.language != 'English'" -%}
    {%- assign chnPosts = chnPosts | sort_natural: "categories" | reverse -%}
    {%- assign chnPosts = chnPosts | sort_natural: "date" | reverse -%}
    {%- assign showPosts = 0 -%}
   
    {%- for post in chnPosts limit:90 -%}
      
      {%- assign postDate = post.date | date: "%Y-%m-%d"  -%}
      
       {%- if today >= postDate and showPosts <= 9 -%}
          {%- assign isTemp = post.title | slice: -4,3 -%}
          {%- unless isTemp == "待更新" -%}
            {%- if post.categories contains "daily" -%}
              <li><span>{{ post.date | date: "%m/%d" }}</span> <a href="{{ site.baseurl }}/dailybible{{ post.url }}">{{ post.title }}</a></li>
            {%- else -%}
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ site.baseurl }}/dailybible{{ post.url }}">{{ post.title }}</a><br>
            {%- endif -%}
          {%- assign showPosts = showPosts | plus: 1 -%}

          {%- if post.categories contains "daily" -%}
           {%- if today == postDate -%}
             {%- assign todayPost = post -%} 
           {%- endif -%}
         {%- endif -%}
        {%- endunless -%}
      {%- endif -%}
   {%- endfor -%} </ul>

</ul>
</div>



