---
layout: default
---

<article class="reflection-page">
  <header class="reflection-header">
    <h1>{{ page.title }}</h1>
    <div class="meta">
      <span class="author">作者: {{ page.author }}</span>
    </div>
    {% if page.passage %}
    <p class="passage-reference">经文: {{ page.passage }}</p>
    {% endif %}
  </header>

  <div class="reflection-content">
    {{ content }}
  </div>

  {% if page.related_day %}
  <div class="related-reading">
    <p>
      相关读经: 
      {% assign day_str = page.related_day | prepend: '00' | slice: -3, 3 %}
      <a href="{{ site.baseurl }}/reading/day-{{ day_str }}/">第 {{ page.related_day }} 天</a>
    </p>
  </div>
  {% endif %}

  <nav class="reflection-navigation">
    <a href="{{ site.baseurl }}/" class="nav-button">返回首页</a>
    {% if page.related_day %}
      {% assign day_str = page.related_day | prepend: '00' | slice: -3, 3 %}
      <a href="{{ site.baseurl }}/reading/day-{{ day_str }}/" class="nav-button">相关读经</a>
    {% endif %}
  </nav>
</article>
